<div class="products-management-container">
    <h2 class="page-title text-center">Manage Products</h2>

    <!-- <h3>Products list</h3>s -->

    <div class="action-options flex">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search" (input)="onGlobalFilter($event, table)" />
        </p-iconfield>
        <p-select [options]="categories" [(ngModel)]="selectedCategory" [checkmark]="true" placeholder="Choose Category"
            (onChange)="onCategoryChange()" optionLabel="name" optionValue="value" />
        <button class="add-btn" (click)="openAddProductModal()">+ Add Product</button>

        @if (selectedProducts && selectedProducts.length > 0) {
        <!-- <button class="view-btn" (click)="openAddProductModal()"><i class="pi pi-plus"></i> Feature</button>
        <button class="cancel-btn" (click)="openAddProductModal()"><i class="pi pi-minus"></i> Unfeature</button> -->
        <!-- <p-button icon="pi pi-ellipsis-v" [text]="true" [matMenuTriggerFor]="menu" class="menu-btn"></p-button> -->

        <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button> -->
            <button mat-menu-item (click)="addToFeatures()">
                <i class="pi pi-plus menu-option-icon"></i>
                <span>Add to featured</span>
            </button>
            <button mat-menu-item (click)="removeFromFeatures()">
                <i class="pi pi-trash menu-option-icon"></i>
                <span>Remove from featured</span>
            </button>
        </mat-menu>
        }
    </div>

    <div class="table-wrapper">
        <p-table #table [value]="filteredProducts" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]"
            [lazy]="true" [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'"
            [paginatorDropdownAppendTo]="'body'"
            [globalFilterFields]="['name', 'category', 'price', 'discountPrice', 'offer']"
            [(selection)]="selectedProducts" dataKey="productId" (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>
                        <p class="flex justify-content-center">S.No</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Name</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Category</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Price</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Offer</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Discount Price</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Stock</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Actions</p>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ i + 1 }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.name }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.category }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.price | currency:"₹"}}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.offer }}%</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.discountPrice | currency:"₹"}}</p>
                    </td>
                    <td [class.out-of-stock]="!product.stock">
                        <p class="flex justify-content-center">{{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}</p>
                    </td>
                    <td class="flex flex-wrap justify-content-center">
                        <p-button label="View" icon="pi pi-eye" (onClick)="viewProductDetails(product.productId)"
                            styleClass="view-btn" [text]="true"></p-button>
                        <p-button label="Edit" icon="pi pi-pencil" (onClick)="editProduct(product)"
                            styleClass="edit-btn" [text]="true"></p-button>
                        <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteProduct(product.productId)"
                            styleClass="cancel-btn" [text]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p class="text-center" *ngIf="products && products.length === 0">List is empty!</p>
</div>

<div *ngIf="showProductModal" class="modal-overlay">
    <div class="modal">
        <h2>Add New Product</h2>

        <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
            <label>Product Name<span class="error">*</span></label>
            <input type="text" pInputText formControlName="name" required />
            <div class="error"
                [ngStyle]="productForm.get('name')?.invalid && productForm.get('name')?.touched?{}:{'visibility':'hidden'}">
                Enter a valid product name.
            </div>

            <label>Category<span class="error">*</span></label>
            <p-select [options]="categories" formControlName="category" placeholder="Select Category"
                styleClass="w-full"></p-select>
            <div class="error"
                [ngStyle]="productForm.get('category')?.invalid && productForm.get('category')?.touched?{}:{'visibility':'hidden'}">
                Select a valid category.
            </div>

            <label>Description<span class="error">*</span></label>
            <textarea pInputTextarea formControlName="description" required></textarea>
            <div class="error"
                [ngStyle]="productForm.get('description')?.invalid && productForm.get('description')?.touched?{}:{'visibility':'hidden'}">
                Enter a valid description.
            </div>

            <label>Price (₹)<span class="error">*</span></label>
            <input type="text" pInputText formControlName="price" required />
            <div class="error"
                [ngStyle]="productForm.get('price')?.invalid && productForm.get('price')?.touched?{}:{'visibility':'hidden'}">
                Enter a valid price.
            </div>

            <label>Offer (%)<span class="error">*</span></label>
            <input type="text" pInputText formControlName="offer" />
            <div class="error"
                [ngStyle]="productForm.get('offer')?.invalid && productForm.get('offer')?.touched?{}:{'visibility':'hidden'}">
                Enter a valid offer percentage.
            </div>

            <div *ngIf="currentProductId">
                <label>Discount Price</label>
                <input type="text" pInputText formControlName="discountPrice" />
                <div class="error"
                    [ngStyle]="productForm.get('discountPrice')?.invalid && productForm.get('discountPrice')?.touched?{}:{'visibility':'hidden'}">
                    Enter a valid discount price.
                </div>
            </div>

            <label>Stock<span class="error">*</span></label>
            <input type="text" pInputText formControlName="stock" required />
            <div class="error"
                [ngStyle]="productForm.get('stock')?.invalid && productForm.get('stock')?.touched?{}:{'visibility':'hidden'}">
                Enter a valid stock count.
            </div>

            <label>Product Image<span class="error">*</span></label>
            <input type="text" pInputText formControlName="image" required />
            <div class="error"
                [ngStyle]="productForm.get('image')?.invalid && productForm.get('image')?.touched?{}:{'visibility':'hidden'}">
                Select a valid image.
            </div>

            <div class="modal-actions flex flex-row-reverse b-0">
                <p-button label="Cancel" icon="pi pi-times" (onClick)="closeAddProductModal()" styleClass="cancel-btn"
                    [text]="true"></p-button>
                <p-button label="Save" icon="pi pi-check" type="submit" styleClass="save-btn" [text]="true"></p-button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="showDeleteConfirmModal" class="delete-modal-overlay">
    <div class="modal">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete this product?</p>

        <div class="delete-modal-actions flex flex-row-reverse b-0">
            <p-button label="Cancel" icon="pi pi-times" (onClick)="closeDeleteConfirmModal()" styleClass="cancel-btn"
                [text]="true"></p-button>
            <p-button label="Yes, Delete" icon="pi pi-check" (onClick)="confirmDelete()" styleClass="confirm-btn"
                [text]="true"></p-button>
        </div>
    </div>
</div>

<span class="refresh-container cursor-pointer" (click)="listProducts()" matTooltip="Refresh">
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" styleClass="refresh-btn"></p-button>
</span>