<div class="dashboard-container">
    <h2 class="page-title text-center">Dashboard</h2>
    <div class="stats-grid">
        <div class="card">
            <h3>Total Sales</h3>
            <p>{{ totalAmount | currency:'₹'}}</p>
        </div>
        <div class="card">
            <h3>Total Orders</h3>
            <p>{{ orders.length }}</p>
        </div>
        <div class="card">
            <h3>Customers</h3>
            <p>{{ totalCustomers }}</p>
        </div>
    </div>

    <div class="chart-container">
        <label for="chart">Revenue by year</label>
        <p-dropdown [options]="years" [(ngModel)]="selectedYear" placeholder="Select Year" (onChange)="onYearChange()">
        </p-dropdown>

        <div class="chart-display-container" *ngIf="isRevenueDataAvailable">
            <label for="chart">Chart Type</label>
            <p-dropdown [options]="chartTypes" [(ngModel)]="selectedChartType" (onChange)="loadChart(selectedChartType)">
            </p-dropdown>

            <div class="chart-wrapper w-full flex justify-content-center">
                <canvas #salesChart id="salesChart"></canvas>
            </div>
        </div>

        <div class="chart-empty-display-container flex justify-content-center" *ngIf="!isRevenueDataAvailable">
            <p class="align-center">No orders were placed yet for {{selectedYear}}</p>
        </div>
    </div>

    <div class="recent-orders">
        <h3>Recent Orders</h3>
        <div class="table-wrapper">
            <p-table [value]="orders" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
                [responsiveLayout]="'scroll'" [paginatorDropdownAppendTo]="'body'">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p class="flex justify-content-center">Order ID</p>
                        </th>
                        <th>
                            <p class="flex justify-content-center">Customer</p>
                        </th>
                        <th>
                            <p class="flex justify-content-center">Total</p>
                        </th>
                        <th>
                            <p class="flex justify-content-center">Status</p>
                        </th>
                        <th>
                            <p class="flex justify-content-center">Ordered On</p>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>
                            <p class="flex justify-content-center">{{ order.orderNumber }}</p>
                        </td>
                        <td>
                            <p class="flex justify-content-center">{{ order?.customer?.name }}</p>
                        </td>
                        <td>
                            <p class="flex justify-content-center">{{ order.totalAmount | currency : "₹" }}</p>
                        </td>
                        <td>
                            <p class="flex justify-content-center">{{ order.status }}</p>
                        </td>
                        <td>
                            <p class="flex justify-content-center">{{ order.createdAt | date }}</p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<span class="refresh-container cursor-pointer" (click)="refreshData()" matTooltip="Refresh">
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" styleClass="refresh-btn"></p-button>
</span>