.dashboard-container {
    padding: 20px;

    .stats-grid {
        display: flex;
        gap: 20px;

        .card {
            flex: 1;
            background: var(--blue);
            color: var(--white);
            padding: 20px;
            text-align: center;
            border-radius: 8px;
        }
    }

    .year-selector-wrapper,
    .chart-type-selector-wrapper {
        width: 30%;
    }

    .chart-container {
        margin-top: 20px;
        background: var(--white);
        padding: 20px;
        border-radius: 8px;

        .chart-wrapper {
            margin-top: 20px;

            canvas {
                border: 1px solid #ddd;
                border-radius: 8px;
                padding: 10px;
            }
        }

        .chart-empty-display-container {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 40px 20px;
            text-align: center;
            margin: 20px 0;
            background: var(--light-white);

            p {
                margin: 0;
                color: #666;
                font-size: 16px;
            }
        }
    }

    .recent-orders {
        margin: 20px 0 60px 0;

        .table-wrapper {

            table {
                width: 100%;
                border-collapse: collapse;

                th,
                td {
                    padding: 10px;
                    text-align: left;
                    border-bottom: 1px solid var(--light-white);
                }

                th {
                    background: var(--light-blue);
                    color: var(--white);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .stats-grid {
        flex-direction: column;
    }

    .chart-container {
        padding: 0 !important;
    }
}