<header class="admin-header">

    <!-- Left: hamburger + current page -->
    <div class="header-left">
        <button class="hamburger" (click)="sharedService.toggleSidebar()" matTooltip="Toggle menu">
            <i class="pi pi-bars"></i>
        </button>
        <div class="breadcrumb">
            <span class="breadcrumb-home" (click)="goToDashboard()">Admin</span>
            <i class="pi pi-chevron-right breadcrumb-sep"></i>
            <span class="breadcrumb-current">{{ sharedService.currentPage }}</span>
        </div>
    </div>

    <!-- Right: profile -->
    <div class="header-right">
        <div class="profile-chip" [matMenuTriggerFor]="menu">
            <span class="profile-avatar">A</span>
            <span class="profile-name">Admin</span>
            <i class="pi pi-chevron-down chevron"></i>
        </div>

        <mat-menu #menu="matMenu" class="profile-dropdown">
            <button mat-menu-item routerLink="/settings">
                <i class="pi pi-cog"></i>
                <span>Settings</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <i class="pi pi-sign-out"></i>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>

</header>