<div class="products-management-container">
    <h2 class="page-title text-center">Manage Featured Products</h2>


    <div class="action-options flex">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search" (input)="onGlobalFilter($event, table)" />
        </p-iconfield>
        <p-select [options]="categories" [(ngModel)]="selectedCategory" [checkmark]="true" placeholder="Choose Category"
            (onChange)="onCategoryChange()" optionLabel="name" optionValue="value" />
    </div>

    <div class="table-wrapper">
        <p-table #table [value]="filteredProducts" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]"
            [lazy]="true" [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'"
            [paginatorDropdownAppendTo]="'body'"
            [globalFilterFields]="['name', 'category', 'price','discountPrice','offer']" dataKey="id"
            (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p class="flex justify-content-center">S.No</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Name</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Category</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Price</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Offer</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Discount Price</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Stock</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Actions</p>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
                <tr>
                    <td>
                        <p class="flex justify-content-center">{{ i + 1 }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.name }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.category }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.price | currency:"₹"}}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.offer }}%</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ product.discountPrice | currency:"₹"}}</p>
                    </td>
                    <td [class.out-of-stock]="!product.stock">
                        <p class="flex justify-content-center">{{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}</p>
                    </td>
                    <td class="flex flex-wrap justify-content-center">
                        <p-button label="View" icon="pi pi-eye" (onClick)="viewProductDetails(product.productId)"
                            styleClass="view-btn" [text]="true"></p-button>
                        <p-button label="Remove" icon="pi pi-trash" (onClick)="removeProduct(product.productId)"
                            styleClass="cancel-btn" [text]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p class="text-center" *ngIf="filteredProducts && filteredProducts.length === 0">List is empty!</p>
</div>

<span class="refresh-container cursor-pointer" (click)="listFeatureProducts()" matTooltip="Refresh">
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" styleClass="refresh-btn"></p-button>
</span>