<div class="messages-container">

    <h2 class="page-title text-center">Messages</h2>

    <div class="action-options flex">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search" (input)="onGlobalFilter($event, table)" />
        </p-iconfield>
        <p-button *ngIf="selectedMessages.length > 0" icon="pi pi-check" styleClass="view-btn" [text]="true"
            (onClick)="showMarkAllReadConfirmModal = true"></p-button>
        <p-button *ngIf="selectedMessages.length > 0" icon="pi pi-trash" styleClass="cancel-btn" [text]="true"
            (onClick)="showDeleteAllConfirmModal = true"></p-button>
    </div>

    <div class="table-wrapper">
        <p-table #table [value]="messages" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]"
            [lazy]="true" [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'"
            [paginatorDropdownAppendTo]="'body'" [globalFilterFields]="['name', 'phoneNumber', 'message']"
            [(selection)]="selectedMessages" dataKey="id" (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>
                        <p class="flex justify-content-center">S.No</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Name</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Phone</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Message</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Actions</p>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-msg let-i="rowIndex">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="msg"></p-tableCheckbox>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ i + 1 }}</p>
                    </td>
                    <td class="large-text-container">
                        <p class="ellipsis">{{ msg.name }}</p>
                    </td>
                    <td class="large-text-container">
                        <p class="ellipsis">{{ msg.phoneNumber }}</p>
                    </td>
                    <td class="large-text-container">
                        <p class="ellipsis">{{ msg.message }}</p>
                    </td>
                    <td class="flex flex-wrap justify-content-center">
                        <p-button label="View" icon="pi pi-eye" (onClick)="viewMessage(msg.id)" styleClass="view-btn"
                            [text]="true"></p-button>
                        <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteMessage(msg.id)"
                            styleClass="cancel-btn" [text]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div *ngIf="showMessageDetailsModal && message && message.length > 0" class="modal-overlay">
    <div class="modal">
        <h2>Message Details</h2>

        <ng-container *ngFor="let msg of message">
            <label>Name</label>
            <p>{{ msg.name }}</p>

            <label>Email</label>
            <p>{{ msg.email }}</p>

            <label>Phone</label>
            <p>{{ msg.phoneNumber }}</p>

            <label>Sent On</label>
            <p>{{ msg.createdAt | date }}</p>

            <label>Message</label>
            <p>{{ msg.message }}</p>
        </ng-container>

        <div class="modal-actions flex flex-row-reverse b-0">
            <p-button label="Ok" icon="pi pi-check" (onClick)="closeMessageDetails()" styleClass="view-btn"
                [text]="true"></p-button>
        </div>
    </div>
</div>

<div *ngIf="showDeleteConfirmModal" class="delete-modal-overlay">
    <div class="modal">
        <h2>Confirm Deletion</h2>
        <p class="delete-modal-content">Are you sure you want to delete this message?</p>

        <div class="delete-modal-actions flex flex-row-reverse">
            <p-button label="Cancel" icon="pi pi-times" (onClick)="closeDeleteConfirmModal()" styleClass="cancel-btn"
                [text]="true"></p-button>
            <p-button label="Yes, Delete" icon="pi pi-check" (onClick)="confirmDelete()" styleClass="confirm-btn"
                [text]="true"></p-button>
        </div>
    </div>
</div>

<div *ngIf="showDeleteAllConfirmModal" class="delete-modal-overlay">
    <div class="modal">
        <h2>Confirm Deletion</h2>
        <p class="delete-modal-content">Are you sure you want to delete all the selected messages?</p>

        <div class="delete-modal-actions flex flex-row-reverse">
            <p-button label="Cancel" icon="pi pi-times" (onClick)="showDeleteAllConfirmModal = false"
                styleClass="cancel-btn" [text]="true"></p-button>
            <p-button label="Yes, Delete" icon="pi pi-check" (onClick)="confirmDeleteAll()" styleClass="confirm-btn"
                [text]="true"></p-button>
        </div>
    </div>
</div>

<div *ngIf="showMarkAllReadConfirmModal" class="delete-modal-overlay">
    <div class="modal">
        <h2>Confirm Deletion</h2>
        <p class="delete-modal-content">Are you sure you want to mark all the selected messages read?</p>

        <div class="delete-modal-actions flex flex-row-reverse">
            <p-button label="Cancel" icon="pi pi-times" (onClick)="showMarkAllReadConfirmModal = false"
                styleClass="cancel-btn" [text]="true"></p-button>
            <p-button label="Yes" icon="pi pi-check" (onClick)="confirmMarkAllAsRead()" styleClass="confirm-btn"
                [text]="true"></p-button>
        </div>
    </div>
</div>

<span class="refresh-container cursor-pointer" (click)="getMessages()" matTooltip="Refresh">
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" styleClass="refresh-btn"></p-button>
</span>