<div class="container">
  <div *ngIf="sharedService.showLayout" class="w-full">
    <div class="header-wrapper">
      <app-header></app-header>
    </div>

    <div class="content-container flex w-full">
      <div class="sidebar-wrapper">
        <app-sidebar></app-sidebar>
      </div>

      <div class="content-wrapper w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div *ngIf="!sharedService.showLayout">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-wrapper w-full">
    <app-footer></app-footer>
  </div>
</div>

<app-loader></app-loader>
<p-toast position="bottom-right"></p-toast>