:host ::ng-deep router-outlet+* {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.content-wrapper {
    margin-left: 10rem;
    transition: all 0.3s;
}

.header-wrapper {
    position:fixed;
    position:sticky;
    top: 0;
    z-index: 999;
}

@media (max-width: 768px) {

    .content-wrapper {
        margin-left: 0rem !important;
    }
}