<div class="reviews-container">

    <h2 class="page-title text-center">Reviews</h2>

    <div class="action-options flex">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search" (input)="onGlobalFilter($event, table)" />
        </p-iconfield>
    </div>

    <div class="table-wrapper">
        <p-table #table [value]="reviews" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]"
            [lazy]="true" [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'"
            [paginatorDropdownAppendTo]="'body'" [globalFilterFields]="['comment', 'userName', 'rating']" dataKey="id"
            (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p class="flex justify-content-center">S.No</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Comment</p>
                    </th>
                    <!-- <th>
                        <p class="flex justify-content-center">Reviewer</p>
                    </th> -->
                    <th>
                        <p class="flex justify-content-center">Rating</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Actions</p>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-review let-i="rowIndex">
                <tr>
                    <td>
                        <p class="flex justify-content-center">{{ i + 1 }}</p>
                    </td>
                    <td class="large-text-container">
                        <p class="ellipsis">{{ review.comment }}</p>
                    </td>
                    <!-- <td class="large-text-container">
                        <p class="ellipsis">{{ review.userName }}</p>
                    </td> -->
                    <td class="large-text-container">
                        <p class="ellipsis">{{ review.rating }}</p>
                    </td>
                    <td class="flex flex-wrap justify-content-center">
                        <button class="view-btn" (click)="viewReview(review.id)"><i class="pi pi-eye"></i>View</button>
                        <button class="view-btn" (click)="viewProduct(review.productId)"><i
                                class="pi pi-eye"></i>Product</button>
                        <button class="view-btn" (click)="viewReviewer(review.customerId)"><i
                                class="pi pi-eye"></i>Reviewer</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div *ngIf="showReviewDetailsModal && review && review.length > 0" class="modal-overlay">
    <div class="modal pt-0">
        <div class="modal-actions flex t-0">
            <h2>Review Details</h2>
        </div>

        <table class="flex">
            <thead>
                <tr class="flex flex-column">
                    <th>
                        <p>Reviewer Name</p>
                    </th>
                    <th>
                        <p>Rating</p>
                    </th>
                    <th>
                        <p>Reviewed On</p>
                    </th>
                    <th>
                        <p>Review</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="flex flex-column" *ngFor="let rev of review">
                    <td>
                        <p> : {{ rev.userName }}</p>
                    </td>
                    <td>
                        <p> : {{ rev.rating }}</p>
                    </td>
                    <td>
                        <p> : {{ rev.createdAt | date }}</p>
                    </td>
                    <td>
                        <p> : {{ rev.comment }}</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal-actions flex flex-row-reverse b-0">
            <button class="view-btn" (click)="closeReviewDetails()">Ok</button>
        </div>
    </div>
</div>


<span class="refresh-container cursor-pointer" (click)="getReviews()" matTooltip="Refresh">
    <button class="refresh-btn"><i class=" pi pi-refresh cursor-pointer"></i></button>
</span>