

.sidebar {
  width: 10rem;
  height: 200vh;
  background: var(--blue);
  color: var(--white);
  position: fixed;
  transition: width 0.3s;
  z-index: 1002;

  ul {
    list-style: none;
    padding: 10px;
    margin-top: 12px;

    li {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background: var(--light-blue);
      }
    }
  }
}

.toggle-btn {
  display: none;
  background: var(--blue);
  color: var(--white);
  border: none;
  font-size: 18px;
  margin: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998;
}


@media (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  .sidebar ul {
    display: none;
  }

  .toggle-btn {
    display: block;
  }

  .sidebar.collapsed {
    width: 10rem;
  }
}