.order-container {
    padding: 20px;

    .filter-field-wrapper {
        max-width: 100%;

        input,
        select {
            min-width: 0 !important;
        }

        input {
            margin-right: 8px;
        }

        select {
            margin-left: 8px;
        }
    }

    .table-wrapper {
        max-height: 60vh;
        margin-top: 20px;
        overflow: auto;

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;

            th,
            td {
                padding: 10px;
                border: 1px solid var(--light-white);
                text-align: left;
            }

            th {
                background: var(--light-blue);
                color: var(--white);
            }

            select {
                padding: 5px;
                border-radius: 4px;
                min-width: 6rem;
            }

        }
    }

    .totalAmount {
        margin-top: 40px;
    }

}