<div class="order-container">
    <h2 class="page-title text-center">Order Management</h2>

    <div class="filter-field-wrapper flex">
        <input type="text" pInputText placeholder="Search by Order ID or Name..." [(ngModel)]="searchText">

        <p-select [options]="statusList" [(ngModel)]="selectedStatus" placeholder="Select Status"></p-select>
    </div>

    <div class="table-wrapper">
        <p-table [value]="filteredOrders()" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]" [lazy]="true"
            [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'"
            [paginatorDropdownAppendTo]="'body'" (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p class="flex justify-content-center">Order ID</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Customer</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Ordered On</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Status</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Total Price</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Actions</p>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>
                        <p class="flex justify-content-center">{{ order.orderNumber }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ order.customer?.name ? order.customer?.name : "Guest"
                            }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ order.createdAt | date}}</p>
                    </td>
                    <td>
                        <p-select [options]="['Pending', 'Shipped', 'Delivered']" [(ngModel)]="order.status"
                            (onChange)="updateOrderStatus(order.id, order.status)" styleClass="flex justify-content-center"></p-select>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ order.totalAmount | currency : "₹"}}</p>
                    </td>
                    <td class="flex flex-wrap justify-content-center">
                        <p-button label="View" icon="pi pi-eye" (onClick)="viewOrderDetails(order.id)" styleClass="view-btn" [text]="true"></p-button>
                        <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteOrder(order.id)" styleClass="cancel-btn" [text]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p class="text-center" *ngIf="filteredOrders().length === 0">List is empty!</p>


    <h3 class="totalAmount">Total Amount : ₹{{totalAmount}}</h3>
</div>

<div *ngIf="showDeleteConfirmModal" class="delete-modal-overlay">
    <div class="modal">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete this order?</p>

        <div class="delete-modal-actions flex flex-row-reverse b-0">
            <p-button label="Cancel" icon="pi pi-times" (onClick)="closeDeleteConfirmModal()" styleClass="cancel-btn" [text]="true"></p-button>
            <p-button label="Yes, Delete" icon="pi pi-check" (onClick)="confirmDelete()" styleClass="confirm-btn" [text]="true"></p-button>
        </div>
    </div>
</div>

<span class="refresh-container cursor-pointer" (click)="listOrders()" matTooltip="Refresh">
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" styleClass="refresh-btn"></p-button>
</span>