.coupons-management-container {
    padding: 20px;
    padding-bottom: 80px;

    .action-options {
        gap: 10px;
        margin-bottom: 15px;
        flex-wrap: wrap;

        p-select,
        p-iconfield {
            width: 13rem;
        }

        .add-btn {
            background: var(--blue);
            color: var(--white);
            width: 8rem;
            transition: all 0.2s;

            &:hover {
                background: var(--light-blue);
            }
        }
    }

    .coupon-code-size-field-wrapper {
        margin: 20px 0;

        .coupon-code-size-field {
            margin-top: 8px;
            min-width: 12rem;
            max-width: 12rem;
        }
    }

    .table-wrapper {

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid var(--light-white);

                .coupon-code {
                    padding: 4px;
                    border-radius: 4px;

                    &:hover {
                        background-color: var(--light-grey);
                        color: var(--white);
                        transition: all 0.2s;
                        // text-decoration: underline;
                        cursor: pointer;
                    }

                    .pi {
                        margin-left: 4px;
                    }
                }
            }

            th {
                background: var(--light-blue);
                color: var(--white);
            }

            .out-of-stock {
                color: var(--red);
                font-weight: bold;
            }


        }
    }
}

.coupon-code-field-wrapper {
    margin-top: 4px;
}

.coupon-code-field {
    min-width: 0;
    margin: 0;
}

.coupon-code-refresh-button {
    margin: 0 0 0 4px;
    background-color: var(--blue);
    color: var(--white);
}

.coupon-code-refresh-button i {
    margin-right: 4px;
}

::ng-deep .p-toggleswitch .p-toggleswitch-input {
    margin: 0;
}

::ng-deep .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background-color: var(--blue) !important;
}

::ng-deep .p-toggleswitch-handle {
    background-color: var(--white) !important;
}

::ng-deep .p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover).p-toggleswitch-checked .p-toggleswitch-slider {
    background-color: var(--light-blue) !important;
}

.coupon-code-status-display-span {
    margin-left: 8px;
}

::ng-deep .p-inputtext {
    background-color: var(--white) !important;
}

::ng-deep p-datepicker {
    min-width: 100% !important;
}

::ng-deep .p-datepicker {
    min-width: 100% !important;
    color: var(--black) !important;
}

::ng-deep.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    min-width: 0 !important;
}


@media screen and (max-width: 768px) {
    .action-options {
        flex-direction: column;
        align-items: center;

        .add-btn {
            width: 8rem !important;
        }
    }
}