<div class="coupons-management-container">
    <h2 class="page-title text-center">Manage Coupons</h2>

    <div class="action-options flex">
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search coupons..." [(ngModel)]="searchText" />
        </p-iconfield>
        <p-select [options]="categoriesForFilter" [(ngModel)]="selectedCategory" optionLabel="name" optionValue="value"
            placeholder="All Categories" [appendTo]="'body'"></p-select>
        <button class="add-btn" (click)="openAddCouponModal()">+ Add Coupon</button>
    </div>

    <div class="coupon-code-size-field-wrapper">
        <h3>Select coupon code size</h3>
        <p-select [options]="couponCodeSizeOptionsList" [(ngModel)]="selectedCouponCodeSize" optionLabel="label"
            optionValue="value" (onChange)="generateNewForm()" [appendTo]="'body'"></p-select>
    </div>

    <h3>Coupons list</h3>
    <div class="table-wrapper" *ngIf="!false">
        <p-table [value]="filteredCoupons()" [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]"
            [lazy]="true" [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'"
            [paginatorDropdownAppendTo]="'body'" (onPage)="onPageChange($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p class="flex justify-content-center">S.No</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Code</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Category</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Discount</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Status</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Equipped Times</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Allowed To Use</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Expiry Date</p>
                    </th>
                    <th>
                        <p class="flex justify-content-center">Actions</p>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coupon let-i="rowIndex">
                <tr>
                    <td>
                        <p class="flex justify-content-center">{{ i + 1 }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center"><span
                                class="coupon-code flex align-items-centercursor-pointer"
                                (click)="copyCode(coupon.code)">{{ coupon.code }}<i class="pi pi-copy"></i></span></p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ coupon.category }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ coupon.discountPercentage }}%</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ coupon.active ? "Active" : "Inactive" }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ coupon.timesUsed }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ coupon.allowedToUse }}</p>
                    </td>
                    <td>
                        <p class="flex justify-content-center">{{ coupon.validTo | date }}</p>
                    </td>
                    <td class="flex flex-wrap justify-content-center">
                        <p-button label="Edit" icon="pi pi-pencil" (onClick)="editCoupon(coupon)" styleClass="edit-btn"
                            [text]="true"></p-button>
                        <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteCoupon(coupon.id)"
                            styleClass="cancel-btn" [text]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p class="text-center" *ngIf="filteredCoupons().length === 0">List is empty!</p>
</div>

<div *ngIf="showCouponModal" class="modal-overlay">
    <div class="modal">
        <h2>Add New Coupon</h2>

        <form [formGroup]="couponForm">
            <label *ngIf="!currentCouponId">Coupon Code<span class="error">*</span></label>
            <div *ngIf="!currentCouponId">
                <div class="coupon-code-field-wrapper flex align-items-center">
                    <input pInputText class="coupon-code-field" type="text" formControlName="code" required />
                    <p-button label="Refresh" icon="pi pi-refresh" (onClick)="generateCouponCode()"
                        styleClass="coupon-code-refresh-button" [text]="true"></p-button>
                </div>
                <div class="error"
                    [ngStyle]="couponForm.get('code')?.invalid && couponForm.get('code')?.touched?{}:{'visibility':'hidden'}">
                    Enter a valid coupon code.
                </div>
            </div>

            <label>Discount Percentage<span class="error">*</span></label>
            <div>
                <input pInputText type="text" formControlName="discountPercentage" required />
                <div class="error"
                    [ngStyle]="couponForm.get('discountPercentage')?.invalid && couponForm.get('discountPercentage')?.touched?{}:{'visibility':'hidden'}">
                    Enter a valid number.
                </div>
            </div>

            <!-- <div>
                <label>Category<span class="error">*</span></label>
                <select class="cursor-pointer" formControlName="category" required>
                    <option value="">Select Category</option>
                    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </select>
                <div class="error"
                    [ngStyle]="couponForm.get('category')?.invalid && couponForm.get('category')?.touched?{}:{'visibility':'hidden'}">
                    Select a valid category.
                </div>
            </div> -->

            <label>Expiry Date<span class="error">*</span></label>
            <div>
                <p-datepicker formControlName="validTo" [appendTo]="'body'" [minDate]="minDate" dateFormat="dd.mm.yy"
                    [showIcon]="true" inputId="calendar-12h" [showTime]="true" [hourFormat]="'12'"
                    [iconDisplay]="'input'" />
                <!-- <p-datepicker formControlName="validTo" [appendTo]="'body'" [minDate]="minDate" dateFormat="dd.mm.yy"
                    [showIcon]="true" inputId="icondisplay" [iconDisplay]="'input'" /> -->
                <div class="error"
                    [ngStyle]="couponForm.get('validTo')?.invalid && couponForm.get('validTo')?.touched?{}:{'visibility':'hidden'}">
                    Enter a valid expiry date.
                </div>
            </div>

            <label>Used for<span class="error">*</span></label>
            <div>
                <input pInputText type="text" formControlName="allowedToUse" required />
                <div class="error"
                    [ngStyle]="couponForm.get('allowedToUse')?.invalid && couponForm.get('allowedToUse')?.touched?{}:{'visibility':'hidden'}">
                    Enter a valid number.
                </div>
            </div>

            <label>Activate Coupon<span class="error">*</span></label>
            <div>
                <div class="active-coupon-code-toggle-wrapper flex align-items-center">
                    <p-toggleswitch formControlName="active" />
                    <span class="coupon-code-status-display-span">{{getCouponCodeStatus}}</span>
                </div>
                <div class="error"
                    [ngStyle]="couponForm.get('active')?.invalid && couponForm.get('active')?.touched?{}:{'visibility':'hidden'}">
                    Select a valid status.
                </div>
            </div>

            <div class="modal-actions flex flex-row-reverse b-0">
                <p-button label="Cancel" icon="pi pi-times" (onClick)="closeAddCouponModal()" styleClass="cancel-btn"
                    [text]="true"></p-button>
                <p-button label="Save" icon="pi pi-check" (onClick)="saveCoupon()" styleClass="save-btn"
                    [text]="true"></p-button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="showDeleteConfirmModal" class="delete-modal-overlay">
    <div class="modal">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete this coupon?</p>

        <div class="delete-modal-actions flex flex-row-reverse b-0">
            <p-button label="Cancel" icon="pi pi-times" (onClick)="closeDeleteConfirmModal()" styleClass="cancel-btn"
                [text]="true"></p-button>
            <p-button label="Yes, Delete" icon="pi pi-check" (onClick)="confirmDelete()" styleClass="confirm-btn"
                [text]="true"></p-button>
        </div>
    </div>
</div>

<span class="refresh-container cursor-pointer" (click)="listCoupons()" matTooltip="Refresh">
    <p-button icon="pi pi-refresh" [rounded]="true" [text]="true" styleClass="refresh-btn"></p-button>
</span>