<div class="customers-container">
    <h2 class="page-title text-center">Customers Management</h2>

    <input type="text" placeholder="Search by name, email, or phone..." [(ngModel)]="searchTerm" />

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of filteredCustomers()">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.address }}</td>
                    <td>
                        <button class="btn cursor-pointer" (click)="viewCustomer(customer.id)">View</button>
                        <button class="btn cursor-pointer" [disabled]="customer.blocked"
                            (click)="blockCustomer(customer)">
                            {{ customer.blocked ? 'Blocked' : 'Block' }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="text-center" *ngIf="filteredCustomers().length === 0">List is empty!</p>


</div>